@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.company-logo {
    height: 40px;
    width: 50px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
}

.banner-section-main-container {
    background-image: url("./Files/vr-banner-bg.png");
    background-size: cover;
    height: 95vh;
}

.banner-section-main-heading {
    font-family: "Roboto";
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
}

.custom-button {
    height: 36px;
    width: 120px;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    background-color: #1a2137;
    border-radius: 15px;
    border: none;
}

.vr-feature-section-heading {
    color : #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.vr-feature-image-card {
    height: 70px;
    width: 70px;
}

.vr-feature-title-card {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    padding: auto;
}

.vr-feature-para-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.interaction{
    color: #1f2933;
    font-style: italic;
    font-weight: bold;
}

.included-vr-kit-container {
    background-color: #f9fbfe;
}

.included-vr-kit-heading  {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.vr-kit-image-card {
    width: 200px;
    height: 250px;
}

.vr-kit-image-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.optics-controller-image{
    width: 90%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.optics-controller-section-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.optics-controller-section-description {
    color: #7b8794;
    font-size: 20px;
    font-family: "Roboto";
}

.custom-button {
    color: white;
    background-color: #1a2137;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 5px;
}

.trending-blog-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.trending-blogs-section-title {
    color: #959ead;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
}

.trending-blogs-section-description {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.trending-blogs-card-link {
    color: #1754a1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
}

.view-all-button {
    color: white;
    background-color: #1754a1;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border-width: 0;
    border-radius: 10px;
}

.product-section-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.product-card {
    width: 100%;
    height: 600px;
}

.vr-product-bg-container {
    background-image: url("./Files/vr-products-headset-img.png");
    background-size: cover;
}

.product-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
}

.product-card-price {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
}

.buy-now-buttton {
    color: white;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

.vr-product-bg-container2 {
    background-image: url("./Files/vr-products-headset-with-controllers-img.png");
    background-size: cover;
}

.footer-section-container {
    background-color: #19232d;
}

.vr-logo {
    height: 36px;
    width: 56px;
}

.footer-section-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 15px 30px 30px 15px;
    background-color: #202b36;
    margin-right: 8px;
    margin-bottom: 8px;
}

.icon {
    color :#5a7184;
    font-size: 18px;
}

.footer-section-text {
    color: #5a7184;
}

.footer-section-heading {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

.footer-section-list {
    list-style-type: none;
    padding: 0;
}

.hr-line {
    background-color: #5a7184;
}

.footer-section-copyright {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

